# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List popular libraries for Data Science
- List popular tools for Data Science

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. Java
4. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools|
|----|
|Git|
|TensorFlow|
|Jupyter|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
(3*4)+5

17

This a simple arithmetic expression to mutiply then add integers.

This will convert 200 minutes to hours by diving by 60

In [7]:
200/60

3.3333333333333335

## Author

Thais Couasnon